:root {
                        /* The variables --sw, --ob, --sh and --tZ must maintain their ratio to one another */
    --sw: 60vw;       /* side of cube */
    --ob: 40vw;       /* offset from top to bottom layer */
    --sh: 20vw;       /* height of third of cube, offset from top to middle                        layer */
    --tZ: 30vw;      /* Z translation */
    --mrg: 20vw;
}

.text > div {
    font-size: 2rem;
    visibility: hidden;
    position: absolute;
    left: 50%;
    margin-left: -160px;
    top: 60px;
    text-align: center;
    animation-duration: 2s;
}

.msg1 {animation-delay: 0.5s; animation-name: mesg1;}
.msg2 {animation-delay: 2.5s; animation-name: mesg2;}
.msg3 {animation-delay: 4.5s; animation-name: mesg3;}
.msg4 {animation-delay: 6.5s; animation-name: mesg4;}
.msg5 {animation-delay: 8.5s; animation-name: mesg5;}
.msg6 {animation-delay: 10.5s; animation-name: mesg6;}
.msg7 {animation-delay: 12.5s; animation-name: mesg7;}
.msg8 {animation-delay: 14.5s; animation-name: mesg8;}

@keyframes mesg1 {from {visibility: visible;}to {visibility: hidden;}}
@keyframes mesg2 {from {visibility: visible;}to {visibility: hidden;}}
@keyframes mesg3 {from {visibility: visible;}to {visibility: hidden;}}
@keyframes mesg4 {from {visibility: visible;}to {visibility: hidden;}}
@keyframes mesg5 {from {visibility: visible;}to {visibility: hidden;}}
@keyframes mesg6 {from {visibility: visible;}to {visibility: hidden;}}
@keyframes mesg7 {from {visibility: visible;}to {visibility: hidden;}}
@keyframes mesg8 {from {visibility: visible;}to {visibility: hidden;}}

.cube {
    position: absolute;
/*    left: 50%;*/
    margin-left: var(--mrg);
    top: 150px;
    transform-style: preserve-3d;
    transform: rotateY(10deg) rotateX(-5deg);
    perspective: 40000px;
    animation-name: cube;
    animation-delay: 10s;
    animation-duration: 6s;
}

@keyframes cube {
    33% {transform: rotateX(-95deg); top: 70vmin}
    67% {transform: rotateX(85deg); top: 70vmin}
}

.side {
    height: var(--sh);
    max-height: 500px;
    width: var(--sw);
    max-width: 500px;
    position: absolute;
    background-size: cover;
    animation-duration: 8s;
    animation-delay: 4s;
}

.top {
    height: var(--sw);
    transform: rotateX(90deg) translateZ(var(--tZ));
    background-image: url(father.png);
    animation-name: toptop;
}

.bottom {
    height: var(--sw);
    transform: rotateX(-90deg) translateZ(var(--tZ));
    background-image: url(husband.png);
    animation-name: bottombottom;
}

.top-front {
    background-image: url(fronttop.png);
    z-index: 20;
    transform: translateZ(var(--tZ));
    animation-name: tfront;   
}

.top-right {
    background-image: url(righttop.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(var(--tZ));
    animation-name: tright;
}

.top-back {
    background-image: url(backtop.png);
    z-index: 0;
    transform: rotateY(180deg) translateZ(var(--tZ));
    animation-name: tback;
}

.top-left {
    background-image: url(lefttop.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(var(--tZ));
    animation-name: tleft;
}

.middle-front {
    top: var(--sh);
    background-image: url(frontmiddle.png);
    z-index: 20;
    transform: translateZ(var(--tZ));
    animation-name: mfront;
}

.middle-right {
    top: var(--sh);
    background-image: url(rightmiddle.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(var(--tZ));
    animation-name: mright;
}

.middle-back {
    top: var(--sh);
    background-image: url(backmiddle.png);
    z-index: 0;
    transform: rotateY(180deg) translateZ(var(--tZ));
    animation-name: mback;
}

.middle-left {
    top: var(--sh);
    background-image: url(leftmiddle.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(var(--tZ));
    animation-name: mleft;
}

.bottom-front {
    top: var(--ob);
    background-image: url(frontbottom.png);
    z-index: 0;
    transform: translateZ(var(--tZ));
    animation-name: tfront;
}

.bottom-right {
    top: var(--ob);
    background-image: url(rightbottom.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(var(--tZ));
    animation-name: tright;
}

.bottom-back {
    top: var(--ob);
    background-image: url(backbottom.png);
    z-index: 5;
    transform: rotateY(180deg) translateZ(var(--tZ));
    animation-name: tback;
}

.bottom-left {
    top: var(--ob);
    background-image: url(leftbottom.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(var(--tZ));
    animation-name: tleft;
}


@keyframes toptop {
    0% {transform: rotateX(90deg) rotateZ(0deg) translateZ(var(--tZ));}
    25% {transform: rotateX(90deg) rotateZ(-90deg) translateZ(var(--tZ));}
    50% {transform: rotateX(90deg) rotateZ(-180deg) translateZ(var(--tZ));}
    75% {transform: rotateX(90deg) rotateZ(-270deg) translateZ(var(--tZ));}
    100% {transform: rotateX(90deg) rotateZ(-360deg) translateZ(var(--tZ));}
}

@keyframes bottombottom {
    0% {transform: rotateX(-90deg) rotateZ(0deg) translateZ(var(--tZ));}
    25% {transform: rotateX(-90deg) rotateZ(90deg) translateZ(var(--tZ));}
    50% {transform: rotateX(-90deg) rotateZ(180deg) translateZ(var(--tZ));}
    75% {transform: rotateX(-90deg) rotateZ(270deg) translateZ(var(--tZ));}
    100% {transform: rotateX(-90deg) rotateZ(360deg) translateZ(var(--tZ));}
}

@keyframes tfront {
    0% {transform: rotateY(0deg) translateZ(var(--tZ));}
    25% {transform: rotateY(90deg) translateZ(var(--tZ));}
    50% {transform: rotateY(180deg) translateZ(var(--tZ)); z-index: 0;}
    75% {transform: rotateY(270deg) translateZ(var(--tZ)); z-index: 0;}
    100% {transform: rotateY(360deg) translateZ(var(--tZ));}
}

@keyframes tright {
    0% {transform: rotateY(90deg) translateZ(var(--tZ));}
    25% {transform: rotateY(180deg) translateZ(var(--tZ));}
    50% {transform: rotateY(270deg) translateZ(var(--tZ));}
    75% {transform: rotateY(360deg) translateZ(var(--tZ)); z-index: 0;}
    100% {transform: rotateY(450deg) translateZ(var(--tZ)); z-index: 5;}
}

@keyframes tback {
    0% {transform: rotateY(180deg) translateZ(var(--tZ));}
    25% {transform: rotateY(270deg) translateZ(var(--tZ)); z-index: 0;}
    50% {transform: rotateY(360deg) translateZ(var(--tZ)); z-index: 20;}
    75% {transform: rotateY(450deg) translateZ(var(--tZ));}
    100% {transform: rotateY(540deg) translateZ(var(--tZ));}
}

@keyframes tleft {
    0% {transform: rotateY(270deg) translateZ(var(--tZ));}
    25% {transform: rotateY(360deg) translateZ(var(--tZ)); z-index: 0;}
    50% {transform: rotateY(450deg) translateZ(var(--tZ));}
    75% {transform: rotateY(540deg) translateZ(var(--tZ));}
    100% {transform: rotateY(630deg) translateZ(var(--tZ));}
}

@keyframes mfront {
    0% {transform: rotateY(0deg) translateZ(var(--tZ));}
    25% {transform: rotateY(-90deg) translateZ(var(--tZ)); z-index: 10;}
    50% {transform: rotateY(-180deg) translateZ(var(--tZ)); z-index: 0;}
    75% {transform: rotateY(-270deg) translateZ(var(--tZ)); z-index: 0;}
    100% {transform: rotateY(-360deg) translateZ(var(--tZ)); z-index: 0;}
}


@keyframes mright {
    0% {transform: rotateY(90deg) translateZ(var(--tZ));}
    25% {transform: rotateY(0deg) translateZ(var(--tZ)); z-index: 0;}
    50% {transform: rotateY(-90deg) translateZ(var(--tZ)); z-index: 0;}
    75% {transform: rotateY(-180deg) translateZ(var(--tZ));}
    100% {transform: rotateY(-270deg) translateZ(var(--tZ));}
}

@keyframes mback {
    0% {transform: rotateY(180deg) translateZ(var(--tZ));}
    25% {transform: rotateY(90deg) translateZ(var(--tZ)); z-index: 0;}
    50% {transform: rotateY(0deg) translateZ(var(--tZ)); z-index: 20;}
    75% {transform: rotateY(-90deg) translateZ(var(--tZ));}
    100% {transform: rotateY(-180deg) translateZ(var(--tZ)); z-index: 10;}
}

@keyframes mleft {
    0% {transform: rotateY(270deg) translateZ(var(--tZ));}
    25% {transform: rotateY(180deg) translateZ(var(--tZ)); z-index: 20;}
    50% {transform: rotateY(90deg) translateZ(var(--tZ)); z-index: 0;}
    75% {transform: rotateY(0deg) translateZ(var(--tZ)); z-index: 0;}
    100% {transform: rotateY(-90deg) translateZ(var(--tZ));}
}

.info {
    position: absolute;
    visibility: visible;
    top: 600px;
    left: 50%;
    margin-left: -160px;
    font-size: 1.5rem;
    animation-name: info;
    animation-duration: 16s;
}

@keyframes info {
    0% {visibility: hidden;}
    99% {visibility: hidden;}
    100% {visibility: visible;}
}

a {
    text-decoration: none;
    color: black;
}

.info a {
    display: inline-block;
    padding: 10px 20px;
}