body {
    background-color: rgb(220, 220, 220);
    margin-top: 50px;
    margin-left: 350px;
}

.cube {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 100px;
    perspective: 1500px;
    transform-style: preserve-3d;
    transform: rotateY(15deg) rotateX(-5deg);
}

.side {
    height: 100px;
    width: 300px;
    position: absolute;
}

.top-front {
    background-image: url(clouds.png);
    z-index: 20;
    transform: translateZ(-150px);
    animation-name: tfront;
    animation-duration: 8s;
}

.top-right {
    background-image: url(baloons.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(150px);
    animation-name: tright;
    animation-duration: 8s;
}

.top-back {
    background-image: url(sand.png);
    z-index: 0;
    transform: rotateY(180deg) translateZ(-150px);
    animation-name: tback;
    animation-duration: 8s;
}

.top-left {
    background-image: url(surf.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(150px);
    animation-name: tleft;
    animation-duration: 8s;
}

.middle-front {
    top: 100px;
    background-image: url(clouds.png);
    z-index: 20;
    transform: translateZ(-150px);
    animation-name: mfront;
    animation-duration: 8s;
}

.middle-right {
    top: 100px;
    background-image: url(baloons.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(150px);
    animation-name: mright;
    animation-duration: 8s;
}

.middle-back {
    top: 100px;
    background-image: url(sand.png);
    z-index: 0;
    transform: rotateY(180deg) translateZ(-150px);
    animation-name: mback;
    animation-duration: 8s;
}

.middle-left {
    top: 100px;
    background-image: url(surf.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(150px);
    animation-name: mleft;
    animation-duration: 8s;
}

.bottom-front {
    top: 200px;
    background-image: url(clouds.png);
    z-index: 0;
    transform: translateZ(150px);
    animation-name: tfront;
    animation-duration: 8s;
}

.bottom-right {
    top: 200px;
    background-image: url(baloons.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(150px);
    animation-name: tright;
    animation-duration: 8s;
}

.bottom-back {
    top: 200px;
    background-image: url(sand.png);
    z-index: 5;
    transform: rotateY(180deg) translateZ(-150px);
    animation-name: tback;
    animation-duration: 8s;
}

.bottom-left {
    top: 200px;
    background-image: url(surf.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(150px);
    animation-name: tleft;
    animation-duration: 8s;
}


@keyframes tfront {
    0% {transform: rotateY(0deg) translateZ(-150px);}
    25% {transform: rotateY(90deg) translateZ(-150px);}
    50% {transform: rotateY(180deg) translateZ(-150px); z-index: 0;}
    75% {transform: rotateY(270deg) translateZ(-150px); z-index: 0;}
    100% {transform: rotateY(360deg) translateZ(-150px);}
}


@keyframes tright {
    0% {transform: rotateY(90deg) translateZ(150px);}
    25% {transform: rotateY(180deg) translateZ(150px);}
    50% {transform: rotateY(270deg) translateZ(150px);}
    75% {transform: rotateY(360deg) translateZ(150px); z-index: 0;}
    100% {transform: rotateY(450deg) translateZ(150px); z-index: 5;}
}

@keyframes tback {
    0% {transform: rotateY(180deg) translateZ(-150px);}
    25% {transform: rotateY(270deg) translateZ(-150px); z-index: 0;}
    50% {transform: rotateY(360deg) translateZ(-150px); z-index: 20;}
    75% {transform: rotateY(450deg) translateZ(-150px);}
    100% {transform: rotateY(540deg) translateZ(-150px);}
}

@keyframes tleft {
    0% {transform: rotateY(270deg) translateZ(150px);}
    25% {transform: rotateY(360deg) translateZ(150px); z-index: 0;}
    50% {transform: rotateY(450deg) translateZ(150px);}
    75% {transform: rotateY(540deg) translateZ(150px);}
    100% {transform: rotateY(630deg) translateZ(150px);}
}

@keyframes mfront {
    0% {transform: rotateY(0deg) translateZ(-150px);}
    25% {transform: rotateY(-90deg) translateZ(-150px); z-index: 10;}
    50% {transform: rotateY(-180deg) translateZ(-150px); z-index: 0;}
    75% {transform: rotateY(-270deg) translateZ(-150px); z-index: 0;}
    100% {transform: rotateY(-360deg) translateZ(-150px); z-index: 0;}
}


@keyframes mright {
    0% {transform: rotateY(90deg) translateZ(150px);}
    25% {transform: rotateY(0deg) translateZ(150px); z-index: 0;}
    50% {transform: rotateY(-90deg) translateZ(150px); z-index: 0;}
    75% {transform: rotateY(-180deg) translateZ(150px);}
    100% {transform: rotateY(-270deg) translateZ(150px);}
}

@keyframes mback {
    0% {transform: rotateY(180deg) translateZ(-150px);}
    25% {transform: rotateY(90deg) translateZ(-150px); z-index: 0;}
    50% {transform: rotateY(0deg) translateZ(-150px); z-index: 20;}
    75% {transform: rotateY(-90deg) translateZ(-150px);}
    100% {transform: rotateY(-180deg) translateZ(-150px); z-index: 10;}
}

@keyframes mleft {
    0% {transform: rotateY(270deg) translateZ(150px);}
    25% {transform: rotateY(180deg) translateZ(150px); z-index: 20;}
    50% {transform: rotateY(90deg) translateZ(150px); z-index: 0;}
    75% {transform: rotateY(0deg) translateZ(150px); z-index: 0;}
    100% {transform: rotateY(-90deg) translateZ(150px);}
}
