body {
    
}

.text {
    font-size: 3rem;
    text-align: center;
}

.cube {
    position: absolute;
    left: 50%;
    margin-left: -255px;
    top: 200px;
    perspective: 1500px;
    transform-style: preserve-3d;
    transform: rotateY(15deg) rotateX(-5deg);
}

.side {
    height: 150px;
    width: 450px;
    position: absolute;
    background-size: cover;
    animation-duration: 8s;
}

.top-front {
    background-image: url(clouds.png);
    z-index: 20;
    transform: translateZ(-225px);
    animation-name: tfront;   
}

.top-right {
    background-image: url(baloons.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(225px);
    animation-name: tright;
}

.top-back {
    background-image: url(sand.png);
    z-index: 0;
    transform: rotateY(180deg) translateZ(-225px);
    animation-name: tback;
}

.top-left {
    background-image: url(surf.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(225px);
    animation-name: tleft;
}

.middle-front {
    top: 150px;
    background-image: url(clouds.png);
    z-index: 20;
    transform: translateZ(-225px);
    animation-name: mfront;
}

.middle-right {
    top: 150px;
    background-image: url(baloons.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(225px);
    animation-name: mright;
}

.middle-back {
    top: 150px;
    background-image: url(sand.png);
    z-index: 0;
    transform: rotateY(180deg) translateZ(-225px);
    animation-name: mback;
}

.middle-left {
    top: 150px;
    background-image: url(surf.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(225px);
    animation-name: mleft;
}

.bottom-front {
    top: 300px;
    background-image: url(clouds.png);
    z-index: 0;
    transform: translateZ(225px);
    animation-name: tfront;
}

.bottom-right {
    top: 300px;
    background-image: url(baloons.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(225px);
    animation-name: tright;
}

.bottom-back {
    top: 300px;
    background-image: url(sand.png);
    z-index: 5;
    transform: rotateY(180deg) translateZ(-225px);
    animation-name: tback;
}

.bottom-left {
    top: 300px;
    background-image: url(surf.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(225px);
    animation-name: tleft;
}


@keyframes tfront {
    0% {transform: rotateY(0deg) translateZ(-225px);}
    25% {transform: rotateY(90deg) translateZ(-225px);}
    50% {transform: rotateY(180deg) translateZ(-225px); z-index: 0;}
    75% {transform: rotateY(270deg) translateZ(-225px); z-index: 0;}
    100% {transform: rotateY(360deg) translateZ(-225px);}
}


@keyframes tright {
    0% {transform: rotateY(90deg) translateZ(225px);}
    25% {transform: rotateY(180deg) translateZ(225px);}
    50% {transform: rotateY(270deg) translateZ(225px);}
    75% {transform: rotateY(360deg) translateZ(225px); z-index: 0;}
    100% {transform: rotateY(450deg) translateZ(225px); z-index: 5;}
}

@keyframes tback {
    0% {transform: rotateY(180deg) translateZ(-225px);}
    25% {transform: rotateY(270deg) translateZ(-225px); z-index: 0;}
    50% {transform: rotateY(360deg) translateZ(-225px); z-index: 20;}
    75% {transform: rotateY(450deg) translateZ(-225px);}
    100% {transform: rotateY(540deg) translateZ(-225px);}
}

@keyframes tleft {
    0% {transform: rotateY(270deg) translateZ(225px);}
    25% {transform: rotateY(360deg) translateZ(225px); z-index: 0;}
    50% {transform: rotateY(450deg) translateZ(225px);}
    75% {transform: rotateY(540deg) translateZ(225px);}
    100% {transform: rotateY(630deg) translateZ(225px);}
}

@keyframes mfront {
    0% {transform: rotateY(0deg) translateZ(-225px);}
    25% {transform: rotateY(-90deg) translateZ(-225px); z-index: 10;}
    50% {transform: rotateY(-180deg) translateZ(-225px); z-index: 0;}
    75% {transform: rotateY(-270deg) translateZ(-225px); z-index: 0;}
    100% {transform: rotateY(-360deg) translateZ(-225px); z-index: 0;}
}


@keyframes mright {
    0% {transform: rotateY(90deg) translateZ(225px);}
    25% {transform: rotateY(0deg) translateZ(225px); z-index: 0;}
    50% {transform: rotateY(-90deg) translateZ(225px); z-index: 0;}
    75% {transform: rotateY(-180deg) translateZ(225px);}
    100% {transform: rotateY(-270deg) translateZ(225px);}
}

@keyframes mback {
    0% {transform: rotateY(180deg) translateZ(-225px);}
    25% {transform: rotateY(90deg) translateZ(-225px); z-index: 0;}
    50% {transform: rotateY(0deg) translateZ(-225px); z-index: 20;}
    75% {transform: rotateY(-90deg) translateZ(-225px);}
    100% {transform: rotateY(-180deg) translateZ(-225px); z-index: 10;}
}

@keyframes mleft {
    0% {transform: rotateY(270deg) translateZ(225px);}
    25% {transform: rotateY(180deg) translateZ(225px); z-index: 20;}
    50% {transform: rotateY(90deg) translateZ(225px); z-index: 0;}
    75% {transform: rotateY(0deg) translateZ(225px); z-index: 0;}
    100% {transform: rotateY(-90deg) translateZ(225px);}
}
