body {
    
}

.text > div {
    font-size: 3rem;
    visibility: hidden;
    position: absolute;
    top: 60px;
    margin-left: 365px;
    text-align: center;
    animation-delay: 0.3s;
    animation-duration: 18s;
}

.msg1 {animation-name: mesg1;}
.msg2 {animation-name: mesg2;}
.msg3 {animation-name: mesg3;}
.msg4 {animation-name: mesg4;}
.msg5 {animation-name: mesg5;}
.msg6 {animation-name: mesg6;}
.msg7 {animation-name: mesg7;}
.msg8 {animation-name: mesg8;}

@keyframes mesg1 {10% {visibility: visible;} 20% {visibility: hidden;}}
@keyframes mesg2 {19.9% {visibility: hidden} 20% {visibility: visible;} 30% {visibility: hidden;}}
@keyframes mesg3 {29.9% {visibility: hidden} 30% {visibility: visible;} 40% {visibility: hidden;}}
@keyframes mesg4 {39.9% {visibility: hidden} 40% {visibility: visible;} 50% {visibility: hidden;}}
@keyframes mesg5 {49.9% {visibility: hidden} 50% {visibility: visible;} 60% {visibility: hidden;}}
@keyframes mesg6 {59.9% {visibility: hidden} 60% {visibility: visible;} 70% {visibility: hidden;}}
@keyframes mesg7 {69.9% {visibility: hidden} 70% {visibility: visible;} 80% {visibility: hidden;}}
@keyframes mesg8 {79.9% {visibility: hidden} 80% {visibility: visible;} 90% {visibility: hidden;}}


.cube {
    position: absolute;
    left: 50%;
    margin-left: -255px;
    top: 200px;
    perspective: 1500px;
    transform-style: preserve-3d;
    transform: rotateY(15deg) rotateX(-5deg);
}

.side {
    height: 150px;
    width: 450px;
    position: absolute;
    background-size: cover;
    animation-duration: 8s;
}

.top {
    height: 450px;
    transform: rotateX(90deg) translateZ(225px);
    background-color: red;
    animation-name: toptop;
}

.bottom {
    height: 450px;
    transform: rotateX(-90deg) translateZ(225px);
    background-color: blue;
    animation-name: bottombottom;
}

.top-front {
    background-image: url(clouds.png);
    z-index: 20;
    transform: translateZ(225px);
    animation-name: tfront;   
}

.top-right {
    background-image: url(baloons.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(225px);
    animation-name: tright;
}

.top-back {
    background-image: url(sand.png);
    z-index: 0;
    transform: rotateY(180deg) translateZ(225px);
    animation-name: tback;
}

.top-left {
    background-image: url(surf.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(225px);
    animation-name: tleft;
}

.middle-front {
    top: 150px;
    background-image: url(clouds.png);
    z-index: 20;
    transform: translateZ(225px);
    animation-name: mfront;
}

.middle-right {
    top: 150px;
    background-image: url(baloons.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(225px);
    animation-name: mright;
}

.middle-back {
    top: 150px;
    background-image: url(sand.png);
    z-index: 0;
    transform: rotateY(180deg) translateZ(225px);
    animation-name: mback;
}

.middle-left {
    top: 150px;
    background-image: url(surf.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(225px);
    animation-name: mleft;
}

.bottom-front {
    top: 300px;
    background-image: url(clouds.png);
    z-index: 0;
    transform: translateZ(225px);
    animation-name: tfront;
}

.bottom-right {
    top: 300px;
    background-image: url(baloons.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(225px);
    animation-name: tright;
}

.bottom-back {
    top: 300px;
    background-image: url(sand.png);
    z-index: 5;
    transform: rotateY(180deg) translateZ(225px);
    animation-name: tback;
}

.bottom-left {
    top: 300px;
    background-image: url(surf.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(225px);
    animation-name: tleft;
}


@keyframes toptop {
    0% {transform: rotateX(90deg) rotateZ(0deg) translateZ(225px);}
    25% {transform: rotateX(90deg) rotateZ(-90deg) translateZ(225px);}
    50% {transform: rotateX(90deg) rotateZ(-180deg) translateZ(225px);}
    75% {transform: rotateX(90deg) rotateZ(-270deg) translateZ(225px);}
    100% {transform: rotateX(90deg) rotateZ(-360deg) translateZ(225px);}
}

@keyframes bottombottom {
    0% {transform: rotateX(-90deg) rotateZ(0deg) translateZ(225px);}
    25% {transform: rotateX(-90deg) rotateZ(90deg) translateZ(225px);}
    50% {transform: rotateX(-90deg) rotateZ(180deg) translateZ(225px);}
    75% {transform: rotateX(-90deg) rotateZ(270deg) translateZ(225px);}
    100% {transform: rotateX(-90deg) rotateZ(360deg) translateZ(225px);}
}

@keyframes tfront {
    0% {transform: rotateY(0deg) translateZ(225px);}
    25% {transform: rotateY(90deg) translateZ(225px);}
    50% {transform: rotateY(180deg) translateZ(225px); z-index: 0;}
    75% {transform: rotateY(270deg) translateZ(225px); z-index: 0;}
    100% {transform: rotateY(360deg) translateZ(225px);}
}

@keyframes tright {
    0% {transform: rotateY(90deg) translateZ(225px);}
    25% {transform: rotateY(180deg) translateZ(225px);}
    50% {transform: rotateY(270deg) translateZ(225px);}
    75% {transform: rotateY(360deg) translateZ(225px); z-index: 0;}
    100% {transform: rotateY(450deg) translateZ(225px); z-index: 5;}
}

@keyframes tback {
    0% {transform: rotateY(180deg) translateZ(225px);}
    25% {transform: rotateY(270deg) translateZ(225px); z-index: 0;}
    50% {transform: rotateY(360deg) translateZ(225px); z-index: 20;}
    75% {transform: rotateY(450deg) translateZ(225px);}
    100% {transform: rotateY(540deg) translateZ(225px);}
}

@keyframes tleft {
    0% {transform: rotateY(270deg) translateZ(225px);}
    25% {transform: rotateY(360deg) translateZ(225px); z-index: 0;}
    50% {transform: rotateY(450deg) translateZ(225px);}
    75% {transform: rotateY(540deg) translateZ(225px);}
    100% {transform: rotateY(630deg) translateZ(225px);}
}

@keyframes mfront {
    0% {transform: rotateY(0deg) translateZ(225px);}
    25% {transform: rotateY(-90deg) translateZ(225px); z-index: 10;}
    50% {transform: rotateY(-180deg) translateZ(225px); z-index: 0;}
    75% {transform: rotateY(-270deg) translateZ(225px); z-index: 0;}
    100% {transform: rotateY(-360deg) translateZ(225px); z-index: 0;}
}


@keyframes mright {
    0% {transform: rotateY(90deg) translateZ(225px);}
    25% {transform: rotateY(0deg) translateZ(225px); z-index: 0;}
    50% {transform: rotateY(-90deg) translateZ(225px); z-index: 0;}
    75% {transform: rotateY(-180deg) translateZ(225px);}
    100% {transform: rotateY(-270deg) translateZ(225px);}
}

@keyframes mback {
    0% {transform: rotateY(180deg) translateZ(225px);}
    25% {transform: rotateY(90deg) translateZ(225px); z-index: 0;}
    50% {transform: rotateY(0deg) translateZ(225px); z-index: 20;}
    75% {transform: rotateY(-90deg) translateZ(225px);}
    100% {transform: rotateY(-180deg) translateZ(225px); z-index: 10;}
}

@keyframes mleft {
    0% {transform: rotateY(270deg) translateZ(225px);}
    25% {transform: rotateY(180deg) translateZ(225px); z-index: 20;}
    50% {transform: rotateY(90deg) translateZ(225px); z-index: 0;}
    75% {transform: rotateY(0deg) translateZ(225px); z-index: 0;}
    100% {transform: rotateY(-90deg) translateZ(225px);}
}
*/