.text > div {
    font-size: 4rem;
    visibility: hidden;
    position: absolute;
    top: 60px;
    margin-left: 165px;
    text-align: center;
    animation-duration: 2s;
}


.msg1 {animation-delay: 0.5s; animation-name: mesg1;}
.msg2 {animation-delay: 2.5s; animation-name: mesg2;}
.msg3 {animation-delay: 4.5s; animation-name: mesg3;}
.msg4 {animation-delay: 6.5s; animation-name: mesg4;}
.msg5 {animation-delay: 8.5s; animation-name: mesg5;}
.msg6 {animation-delay: 10.5s; animation-name: mesg6;}
.msg7 {animation-delay: 12.5s; animation-name: mesg7;}
.msg8 {animation-delay: 14.5s; animation-name: mesg8;}

@keyframes mesg1 {from {visibility: visible;}to {visibility: hidden;}}
@keyframes mesg2 {from {visibility: visible;}to {visibility: hidden;}}
@keyframes mesg3 {from {visibility: visible;}to {visibility: hidden;}}
@keyframes mesg4 {from {visibility: visible;}to {visibility: hidden;}}
@keyframes mesg5 {from {visibility: visible;}to {visibility: hidden;}}
@keyframes mesg6 {from {visibility: visible;}to {visibility: hidden;}}
@keyframes mesg7 {from {visibility: visible;}to {visibility: hidden;}}
@keyframes mesg8 {from {visibility: visible;}to {visibility: hidden;}}

.cube {
    position: absolute;
    left: 50%;
    margin-left: -225px;
    top: 250px;
    transform-style: preserve-3d;
    transform: rotateY(10deg) rotateX(-5deg);
    perspective: 40000px;
    animation-name: cube;
    animation-delay: 10s;
    animation-duration: 6s;
}

@keyframes cube {
    33% {transform: rotateX(-95deg); top: 450px}
    67% {transform: rotateX(85deg); top: 450px}
}

.side {
    height: 150px;
    width: 450px;
    position: absolute;
    background-size: cover;
    animation-duration: 8s;
    animation-delay: 4s;
}

.top {
    height: 450px;
    transform: rotateX(90deg) translateZ(225px);
    background-image: url(father.png);
    animation-name: toptop;
}

.bottom {
    height: 450px;
    transform: rotateX(-90deg) translateZ(225px);
    background-image: url(husband.png);
    animation-name: bottombottom;
}

.top-front {
    background-image: url(fronttop.png);
    z-index: 20;
    transform: translateZ(225px);
    animation-name: tfront;   
}

.top-right {
    background-image: url(righttop.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(225px);
    animation-name: tright;
}

.top-back {
    background-image: url(backtop.png);
    z-index: 0;
    transform: rotateY(180deg) translateZ(225px);
    animation-name: tback;
}

.top-left {
    background-image: url(lefttop.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(225px);
    animation-name: tleft;
}

.middle-front {
    top: 150px;
    background-image: url(frontmiddle.png);
    z-index: 20;
    transform: translateZ(225px);
    animation-name: mfront;
}

.middle-right {
    top: 150px;
    background-image: url(rightmiddle.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(225px);
    animation-name: mright;
}

.middle-back {
    top: 150px;
    background-image: url(backmiddle.png);
    z-index: 0;
    transform: rotateY(180deg) translateZ(225px);
    animation-name: mback;
}

.middle-left {
    top: 150px;
    background-image: url(leftmiddle.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(225px);
    animation-name: mleft;
}

.bottom-front {
    top: 300px;
    background-image: url(frontbottom.png);
    z-index: 0;
    transform: translateZ(225px);
    animation-name: tfront;
}

.bottom-right {
    top: 300px;
    background-image: url(rightbottom.png);
    z-index: 10;
    transform: rotateY(90deg) translateZ(225px);
    animation-name: tright;
}

.bottom-back {
    top: 300px;
    background-image: url(backbottom.png);
    z-index: 5;
    transform: rotateY(180deg) translateZ(225px);
    animation-name: tback;
}

.bottom-left {
    top: 300px;
    background-image: url(leftbottom.png);
    z-index: 5;
    transform: rotateY(270deg) translateZ(225px);
    animation-name: tleft;
}


@keyframes toptop {
    0% {transform: rotateX(90deg) rotateZ(0deg) translateZ(225px);}
    25% {transform: rotateX(90deg) rotateZ(-90deg) translateZ(225px);}
    50% {transform: rotateX(90deg) rotateZ(-180deg) translateZ(225px);}
    75% {transform: rotateX(90deg) rotateZ(-270deg) translateZ(225px);}
    100% {transform: rotateX(90deg) rotateZ(-360deg) translateZ(225px);}
}

@keyframes bottombottom {
    0% {transform: rotateX(-90deg) rotateZ(0deg) translateZ(225px);}
    25% {transform: rotateX(-90deg) rotateZ(90deg) translateZ(225px);}
    50% {transform: rotateX(-90deg) rotateZ(180deg) translateZ(225px);}
    75% {transform: rotateX(-90deg) rotateZ(270deg) translateZ(225px);}
    100% {transform: rotateX(-90deg) rotateZ(360deg) translateZ(225px);}
}

@keyframes tfront {
    0% {transform: rotateY(0deg) translateZ(225px);}
    25% {transform: rotateY(90deg) translateZ(225px);}
    50% {transform: rotateY(180deg) translateZ(225px); z-index: 0;}
    75% {transform: rotateY(270deg) translateZ(225px); z-index: 0;}
    100% {transform: rotateY(360deg) translateZ(225px);}
}

@keyframes tright {
    0% {transform: rotateY(90deg) translateZ(225px);}
    25% {transform: rotateY(180deg) translateZ(225px);}
    50% {transform: rotateY(270deg) translateZ(225px);}
    75% {transform: rotateY(360deg) translateZ(225px); z-index: 0;}
    100% {transform: rotateY(450deg) translateZ(225px); z-index: 5;}
}

@keyframes tback {
    0% {transform: rotateY(180deg) translateZ(225px);}
    25% {transform: rotateY(270deg) translateZ(225px); z-index: 0;}
    50% {transform: rotateY(360deg) translateZ(225px); z-index: 20;}
    75% {transform: rotateY(450deg) translateZ(225px);}
    100% {transform: rotateY(540deg) translateZ(225px);}
}

@keyframes tleft {
    0% {transform: rotateY(270deg) translateZ(225px);}
    25% {transform: rotateY(360deg) translateZ(225px); z-index: 0;}
    50% {transform: rotateY(450deg) translateZ(225px);}
    75% {transform: rotateY(540deg) translateZ(225px);}
    100% {transform: rotateY(630deg) translateZ(225px);}
}

@keyframes mfront {
    0% {transform: rotateY(0deg) translateZ(225px);}
    25% {transform: rotateY(-90deg) translateZ(225px); z-index: 10;}
    50% {transform: rotateY(-180deg) translateZ(225px); z-index: 0;}
    75% {transform: rotateY(-270deg) translateZ(225px); z-index: 0;}
    100% {transform: rotateY(-360deg) translateZ(225px); z-index: 0;}
}


@keyframes mright {
    0% {transform: rotateY(90deg) translateZ(225px);}
    25% {transform: rotateY(0deg) translateZ(225px); z-index: 0;}
    50% {transform: rotateY(-90deg) translateZ(225px); z-index: 0;}
    75% {transform: rotateY(-180deg) translateZ(225px);}
    100% {transform: rotateY(-270deg) translateZ(225px);}
}

@keyframes mback {
    0% {transform: rotateY(180deg) translateZ(225px);}
    25% {transform: rotateY(90deg) translateZ(225px); z-index: 0;}
    50% {transform: rotateY(0deg) translateZ(225px); z-index: 20;}
    75% {transform: rotateY(-90deg) translateZ(225px);}
    100% {transform: rotateY(-180deg) translateZ(225px); z-index: 10;}
}

@keyframes mleft {
    0% {transform: rotateY(270deg) translateZ(225px);}
    25% {transform: rotateY(180deg) translateZ(225px); z-index: 20;}
    50% {transform: rotateY(90deg) translateZ(225px); z-index: 0;}
    75% {transform: rotateY(0deg) translateZ(225px); z-index: 0;}
    100% {transform: rotateY(-90deg) translateZ(225px);}
}

@media screen and (max-width: 500px){
    .text > div {
        margin-left: 30px;
    }
}

@media screen and (max-width: 700px){
    .text > div {
        margin-left: 80px;
    }
}

@media screen and (max-width: 1000px){
    .text > div {
        margin-left: 200px;
    }
}

@media screen and (min-width: 1001px){
    .text > div {
        margin-left: 400px;
    }
}